<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="index.js" defer></script>
  </head>

  <body>
    <div id="app">
      
      <h1>{{ message }}</h1>

      <p>
        {{ text }}
      </p>

      <button v-on:click="moreTesting">More Testing!</button>
      <br><br>
      <button v-on:click="lessTesting">Wait, Less Testing!</button>
      <br><br>

      <p>
        {{ question }}
      </p>

      <div v-for="feeling in feelings">
        <p>I feel {{feeling}}</p>
      </div>
      <input type="text" v-model="feeling">
      <button v-on:click="addFeeling()"><em>Tell Me How You Really Feel</em></button>
      <br><br>
      <button v-on:click="showInfo = !showInfo">Toggle</button>
      <p v-if="showInfo">Now You See Me</p>
      <br><br>
      <input type="checkbox" id="checkbox" v-model="checked">
      <label for="checkbox">{{ toggle }}</label>
      <p v-if="checked">Now You See Me</p>

    </div>
  </body>
</html>